@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RateMe</h1>
    <p class="lead">Repertoriu online cu o parte din cele mai populare filme de pe IMDb.</p>
    <img src="~/Dollarphotoclub.jpg" alt="Dollarphotoclub" border="1" style="width:100%; height:30%;">
    <p><a href="http://www.imdb.com/" class="btn btn-primary btn-lg">Learn more from IMDb &raquo;</a></p>
</div>
    

<!--"~/Content/" + model.Poster;-->
<div class="row">
    <div class="col-md-4">
        <h2>Movie List</h2>
        <img src="~/todo_list1600.png" alt="todo_list1600" border="1" style="width:100%; height:65%;">
            <p>Top Rated Movies</p>
            <p>Top 100 as rated by IMDb Users</p>
        <li>@Html.ActionLink("Movie List ", "Index", "Movie")</li>
    </div>
    <div class="col-md-4">
        <h2>Search for movies</h2>
        <img src="~/view_file1600.png" alt="view_file1600" border="1" style="width:100%; height:65%;">
        <p>Search for top rated movies.</p>
        <li>@Html.ActionLink("Search", "Search", "Movie")</li>
    </div>
    <div class="col-md-4">
        <h2>Add new movie</h2>
        <img src="~/1600.png" alt="1600" border="1" style="width:100%; height:65%;">
        <p></p>
        <li>@Html.ActionLink("Add New", "Create", "Movie")</li>
    </div>
</div>